@model urun_kayıt_sistemi.Models.Table

@{
    ViewBag.Title = "Delete";
}

<h2>Ürün Silme</h2>

<h3>Bu ürün tamamen silinecek yapılan işlemden emin misiniz?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunKodu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunKodu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Urunfiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Urunfiyat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-warning" /> |
            @Html.ActionLink("Ürün Listesi Sayfasına Dön", "Index")
        </div>
    }
</div>
